/* ___ begin  ___ Header Service ______ Nai _________ */

.main-container {
    background-color: #f7feff;
}

.container {
    max-width: 1440px;
    margin: 0px auto 0px auto;
    padding: 0px;
    justify-items: center;
}

.session1 {
    background-color: #fffbef;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    color: #121116;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    padding: 32px 0 0 144px;
}

.Bblue {
    color: #7557ff;
}

.nav-lists {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 32px;
}

.signin-up {
    display: flex;
    list-style: none;
    gap: 24px;
}


.nav-title-header-home a {
    color: #7557FF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav-title-header a {
    color: #263238;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-title-signin {
    margin-top: 32px;
}

.nav-title-signin a {
    color: #263238;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav-title-signup a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.signin-up button {
    margin-top: 24px;
}

button {
    background-color: #7557FF;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border: none;
}

.banner {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.banner-left,
.banner-right {
    width: 40% 60%;
}

.banner-left {
    margin-left: 144px;
}

.banner-left .title {
    color: #121116;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin: 0px;
    margin-top: 123px;
}

.banner-left .sub-title {
    color: #00334c;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
}

.banner-rectangle .get-started {
    margin-top: 38px;
    margin-bottom: 159px;
    border-radius: 6px;
    background: #7557FF;
    padding: 15px 35px;
    box-shadow: 0px 4px 10px 0px rgba(33, 183, 226, 0.3);
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
}

.banner-right {
    margin-left: 167px;
    margin-top: 98px;
}

.session-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.session-title h3 {
    color: #121116;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
}

.session-title p {
    color: #605D6C;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 0px;
    padding-top: 16px;
}

.sevices {
    max-width: 1162px;
    height: 802px;
    margin-left: auto;
    margin-right: auto;
}

.sevices-cards {
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.card {
    width: 370px;
    height: 446px;
    background-color: #ffff;
    box-shadow: 0px 20px 70px 0px rgba(18, 17, 22, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    margin-top: 48px;
}

.card:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.card-title h1,
.card-title-right h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    color: #121116;
    text-align: center;
    margin-top: 48px;
}

.card-title-right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.card-title p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    color: #605D6C;
    text-align: center;
}

/* Responsive_Header */
@media (max-width: 768px) {
  .main-container{
    width: 400px;
    margin: 0;
    padding: 0;
  }
  .container{
    max-width: 400px;
  }
  .session1{
    width: 100%;

  }
  .header{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo-header{
    padding: 15px 15px ;
  }
  .nav-lists{
    gap: 10px;
  }
  .banner{
    display:flex;
    flex-direction: column;
  }
  .banner-left{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-left .title {
    font-size: 50px;
  }
  .banner-right{
    margin: 0px;
  }
  .banner-img img{
    width: 400px;
  }
  .sevices-cards{
    display: flex;
    flex-direction: column;
  }
  .banner-left .title {
    margin-top: 50px;
  }
  .banner-rectangle .get-started {
    margin-bottom: 50px;
  }

}
/* ___ End  ___ Header Service ______ Nai _________ */



/* ___begin___ Contact footer ____THI ______________________________________________________________________________________ */
:root {
    --tim-color: #7557FF;
    --nau-color: #FFFBEF;
    --white-color: #FFFFFF;
    --black-color: #121116;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.section {
    margin: 62px 0 62px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}


.new-letter {
    width: 100%;
    background-color: var(--tim-color);
    height: 338px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    padding: 36px;
}

.new-letter__subscript {
    width: 50%;
    padding: 32px;
    row-gap: 30px;
}



.subscript-text {
    width: 80%;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-align: start;

}

.new-letter__subscript form {
    column-gap: 10px;
}


.email-input {
    background: #7E63FF;
    width: 50%;
    height: 60px;
    border-radius: 6px;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
    padding-left: 20px;
    outline: none;
    border: none;
}

.email-input::placeholder {
    color: #FFF;
    opacity: 0.5;
}

.submit-subscript {
    border: none;
    border-radius: 6px;
    width: 25%;
    padding: 10px;
    color: #7557FF;
    background-color: var(--white-color);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

}



.new-letter__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact {
    justify-content: flex-start;
}

.contact__title {
    margin-right: 62px;
    width: 470px;
}

.get-in-touch-text {
    color: #121116;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
}

.question-text {
    color: #605D6C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.contact__form {
    z-index: 1;
    margin-left: 62px;
    width: 570px;
    height: 430px;
    padding: 40px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
    justify-content: space-between;

}

.contact__form-input {
    width: 85%;
    padding: 25px 0;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    text-align: start;
    color: #605D6C;
    color: #605D6C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.contact__form-input::placeholder {
    color: #605D6C;
}

.contact__form-input:focus-visible {
    outline: none;
}

.contact__form .message {
    padding-bottom: 30px;
}

.send-button {
    padding: 15px 35px;
    border-radius: 8px;
    border: none;
    background-color: #7557FF;
    width: 20%;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}


.footer {
    font-family: Poppins;
    margin-top: -204px;
    background: #FFFBEF;
    width: 100%;
    height: 500px;
    position: relative;
}

.footer__nav-bottom {
    position: relative;
    top: 300px;
    width: 100%;
    row-gap: 20px;
}

.nav-bottom {
    justify-content: space-between;
    padding: 16px 0 0 0;
    border-bottom: 2px solid var(--black-color);
    z-index: 1;
}

.logo-bottom {
    color: #121116;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    padding: auto 0;
}

.nav-title {
    width: 30%;
    justify-content: space-between;
}

.nav-title li {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #605D6C;
    list-style: none;
    margin-bottom: -1.9px;
}

.nav-title li:first-child {
    border-bottom: 3px solid #7557FF;
    color: #7557FF;
}

.footer__nav-bottom .logo-nav {
    width: 100%;
    border-bottom: 2px solid var(--black-color);
}

.copyright {
    justify-content: space-between;
}

.copyright .copyright-text {
    color: #605D6C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.social {
    align-items: center;
    column-gap: 10px;
}

.follow-text {
    color: #605D6C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
/* __End___ Contact footer ____THI _________________ */